<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>malisa的个人主页</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            height: 100vh;
            background-image: url('./bj.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: rgba(165, 165, 165, 0.4);

        }

        .container-header {
            align-items: center;
            justify-content: center;
        }

        .container-header img {
            width: 20vh;
            height: 20vh;
            border-radius: 50%;
            overflow: hidden;
            object-fit: cover;
        }

        .container-header h1 {
            color: rgba(255, 255, 255, 0.938);
        }

        hr {
            width: 68%;
            border: none;
            height: 2px;
            background-color: #5c4e4e91;
        }

        @keyframes active-opacity-close {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes active-opacity-show {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .active-opacity-show {
            animation: active-opacity-show 1s ease-in-out;
        }

        .active-opacity-close {
            animation: active-opacity-close 1s ease-in-out;
        }

        #sentence_hitokoto {
            transform: translateX(10vw);
            width: 80vw;
        }

        #sentence_hitokoto_main {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: left;
            color: rgba(240, 255, 255, 0.966);
            width: 75%;
        }

        #sentence_hitokoto_from {
            font-size: 1rem;
            text-align: right;
            color: rgba(245, 245, 245, 0.826);
            width: 75%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="container-header">
            <img src="./malisa.jpg" alt="malisa233">
            <h1>I'm Malisa</h1>
        </div>
        <hr>
        <div class="container-body">
            <div id="sentence_hitokoto" onclick="loadHitokoto()">
                <div id="sentence_hitokoto_main">这里应当是一句话</div>
                <div id="sentence_hitokoto_from">这里应当是作者</div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            loadHitokoto();
            setInterval(loadHitokoto, 15000);
        }

        async function loadHitokoto() {
            const sentence_hitokoto = document.getElementById('sentence_hitokoto');
            sentence_hitokoto.classList.remove('active-opacity-show');
            sentence_hitokoto.classList.add('active-opacity-close');
            await fetch('https://v1.hitokoto.cn/')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('sentence_hitokoto_main').innerHTML = `「${data.hitokoto}」`
                    document.getElementById('sentence_hitokoto_from').innerHTML = `——「${data.from}」`
                })
                .catch(error => {
                    console.error(error);
                });
            sentence_hitokoto.classList.remove('active-opacity-close');
            sentence_hitokoto.classList.add('active-opacity-show');
        }
    </script>
</body>

</html>